
/* ==========================================================================
   Reset
   ========================================================================== */

* {
margin: 0;
padding: 0;
}

html {
box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}
   
/* ==========================================================================
   Styles
   ========================================================================== */
body {
	background-color: #82e6e5;
	margin:70px 0px; 
	text-align:center;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	}


.main {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	padding: 10px;
	overflow: auto;
}

.container {
	width: 100%;
	overflow: auto;
}

header {
	font-weight: 500;
	overflow: auto;
	margin-bottom: 20px;
}

header h1 {
	font-weight: 500:
}

header p {
	font-size: 125%;
	font-weight: 500;
}

.wrapper{
	max-width: 100%;
	padding-top: 20px;
	float: left;
	width: 400px;
}
.portrait {
	float: right;
	width: 200px;
	display: block;
	border: solid #006e9c 10px;
}	


a:link {color: #000000; text-decoration: underline; }
a:active {color: #0000ff; text-decoration: underline; }
a:visited {color: #008000; text-decoration: underline; }
a:hover {color: #2f0338; background: #2f0338; text-decoration: none; }

.nav {
	max-width: 100%;
	float: left;
	text-align: left;
	list-style-type: none;
	padding: 20px;
	width: 200px;
	border: dashed #1c685a 10px;
}

.nav li {
	margin-bottom: 10px;
	text-align: center;
}

.bio{
	max-width: 100%;
	padding: 20px;
	float: right;
	width: 400px;
	border: dashed #681c2a 10px;
}

.bio p {
	text-align: left;
	font-size: 100%;
	margin-bottom: 20px;
}

footer {
	text-align: center;
	margin-top: 20px;
	}

/* ==========================================================================
Media Queries
 ========================================================================== */

 @media screen and (max-width: 27em) {
  wrapper, nav, bio {
    float: none;
    margin-bottom: 20px;
  }
}
